@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono&display=swap");
/** Chelsea Market - Used on the Main Header(h1) font-family: 'Chelsea Market', cursive;
Roboto Mono - used as default text for the page. font-family: 'Roboto Mono', monospace; **/

* {
  font-family: "Roboto Mono", monospace;
  font-size: 62.5%;
}

.navButtons {
  list-style: none;
  margin: 5rem -2rem 2rem 0;
  text-align: center;
  padding: 0;
}
.navButtons li {
  display: inline;
  font-size: 1.8rem;
  margin: 0 2rem;
  }

.navButtons li a {
    color: white;
    text-decoration: none;
    }
.navButtons .plan {
    background-color: #ff764e;
    padding: 1.8rem;
    border-radius: 11px;
    cursor: pointer;
    transition: 0.5s;
}
  .navButtons .plan:hover {
     background-color: white;
     border: #ff764e solid 2px;
     color: #ff764e;
     padding: 1.6rem;

}
.navButtons .learn {
  background-color: #5ed3eb;
  border-radius: 11px;
  padding: 1.8rem;
  cursor: pointer;
    transition: 0.5s;
}
  .navButtons .learn:hover {
     background-color: white;
     border: #5ed3eb solid 2px;
     color: #5ed3eb;
     padding: 1.6rem;
}
.navButtons .involved {
  background-color: #ffcd69;
  border-radius: 11px;
  padding: 1.8rem;
  transition: 0.5s;
}
  .navButtons .involved:hover {
     background-color: white;
     border: #ffcd69 solid 2px;
     color: #ffcd69;
     padding: 1.6rem;
}

.headerTable {
    width: 70%%
    margin: 3rem auto;
    padding: 3rem;
}
.headerTable .imgContainer {
    width: 30%;
    }
.headerTable .headerContainer {
    width: 70%;
    text-align: center;
        
}

.headerImg {
  border-radius: 50%;
  height: 25rem;
  margin: 1.2rem;
}

header h1 {
  font-family: "Chelsea Market", cursive;
  font-size: 5rem;
  display: inline;
text-align: center;
}

header h3 {
    font-size: 1.6rem;
  display: inline;
  text-align: center;
  
}
.firstSection {
    background-color: #ddb9a3;
    color: white;
    padding: 2rem;
    margin: 3rem;
}
p {
    font-size: 1.4rem;
    text-align: center;
}
.icon {
    width: 10rem;
    display: block;
    margin: 1rem auto;
}
.iconText {
margin: 0 35% 5% 35%;
font-size: 1.3rem;
}
.iconText strong {
    font-size: 1.3rem;
}

.footerImg {
    background-image: url("assets/footer_img.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    margin: 0 auto;
}
.footerNav {
    background-color: #f9e7dc;
    height: 12rem;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}
